    @media all and (max-width: 600px) {
        .travaux {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 5%;
        }
        .circlepp {
            display: none;
        }
        *, *:before, *:after 
        { box-sizing: border-box; }
        html { font-size: 18px; }
        body {
            font-size: 1.2em;
            line-height: 1.6;
            overflow-x: hidden;
        }
        label .menu {
            position: absolute;
            right: -100px;
            top: -100px;
            z-index: 100;
            width: 200px;
            height: 200px;
            background: rgb(251, 222, 255);
            border-radius: 50% 50% 50% 50%;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
            cursor: pointer;
            }
        label .hamburger {
            position: absolute;
            top: 135px;
            left: 50px;
            width: 30px;
            height: 2px;
            background: #6600ff;
            display: block;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            }
        label .hamburger:after, label .hamburger:before {
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: #6600ff;
            }
        label .hamburger:before { top: -10px; }
        label .hamburger:after { bottom: -10px; }
        label input { display: none; }
        label input:checked + .menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;
        }
        label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        }
        label input:checked + .menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
        }
        label input:checked + .menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
        }
        label input:checked + .menu + ul { opacity: 1; }
        label ul {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
        }
        label a {
        margin-bottom: 2em;
        display: block;
        color: #883399;
        text-decoration: none;
        }
        h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        }
        #contact {
            background-color: rgba(0, 152, 222, 0.54);
            width: 100%;
            height: 70%;
            border-radius: 15%;
            margin-top: 10%;
        }
    }

/*########################################################################*/
/*########################################################################*/   

@media screen and (min-width: 601px) {        
    input {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Helvetica, sans-serif;
        background: url("background.jpg") fixed no-repeat;
    }
    hr {
        width: 40%;
        margin-bottom: 3%;
    }
    #work h2, #about h2, #contact h2 {
        text-align: center;
        margin-top: 10%;
    }
    
    #bodypage {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: rgba(228, 228, 228, 0.781);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /*################################ NAV ######################################*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .circlepp {
        text-align: center;
    }
    .circlepp h1 {
        text-decoration: underline;
    }
    .circlepp h2 {
        font-size: 0.9em;
    }
    .circlepp img {
        width: 30%;
        margin-top: 3%;
    }
    .sticky {
        background-color: #567081b7;
        position: sticky;
        width: 100%;
        margin-top: 2%;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style-type: none;
        margin-left: -3%;
    }
    li a {
        color: white;
    }

    /*################################# ABOUT ######################################*/
    .presentation {
        display: flex;
        flex-direction: column;
    }
    .presentation p {
        margin-left: 5%;
        margin-right: 10%;
    }
    #comp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1%;
        padding-right: 1%;
    }
    /*############################## WORK/CIRCLES #################################*/
    .travaux {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5%;
    }
    #cc {
        position: relative;
        width: 170px;
        height: 170px;
        border-radius: 40%;
        overflow: hidden;
    }
    .circle {
        width: 170px;
        height: 170px;
        position: absolute;
        border-radius: 50%;
    }
    #photo:before {
        content: "Photographie";
    }
    #crea:before {
        content: "Création";
    }
    #code:before {
        content: "Code";
    }
    #photo {
        background-color: rgba(37, 17, 191, 0.45);
        font-size: 20px;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        transition: 2s;
    }
    #crea {
        background-color: rgba(144, 73, 250, 0.45);
        font-size: 20px;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        transition: 2s;
    }
    #code {
        background-color: rgba(0, 166, 255, 0.45);
        font-size: 20px;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        transition: 2s;
    }
    #two {
        background-color: rgb(0, 157, 255);
        transition: 1s;
        opacity: 0.5;
    }
    #three {
        background-color: rgb(255, 0, 221);
        transition: 1s;
        opacity: 0.5;
    }
    #four {
        background-color: rgb(98, 0, 255);
        transition: 1s;
        opacity: 0.5;
    }
    #five {
        background-color: green;
        transition: 1s;
        opacity: 0.5;
    }
    #cc:hover #two {
        transform: translate(0px, 40px);
    }
    #cc:hover #three {
        transform: translate(0px, -40px);
    }
    #cc:hover #four {
        transform: translate(40px, 0px);
    }
    #cc:hover #five {
        transform: translate(-40px, 0px);
    }
    /*################################## FORM #####################################*/
    #msg {
        width: 500px;
        height: 150px;
    }
    #mail {
        width: 500px;
        height: 30px;
    }
    #name {
        width: 500px;
        height: 30px;
    }
    .coordonnees {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .coordonnees div, .envoyer{
        margin-top: 2%;
        padding-bottom: 3%;
    }
    .coordonnees label {
        display: none;
    }
    #contact {
        background-color: rgba(0, 152, 222, 0.54);
        width: 50%;
        height: 70%;
        border-radius: 15%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}